.log-viewer{
    font-family:'Courier New';
    font-size:.9em;
    margin:50px 10px 10px 10px;
    padding-bottom:20px;
    letter-spacing:1px;
}

.log-viewer-logentry{
    white-space:nowrap;
    height:15px;
    vertical-align:bottom;
}

.log-viewer-server-color{
    width:5px;
    height:15px;
    display:inline-block;
    margin-right:10px;
    border:1px solid black;
    vertical-align:bottom;
}

.highlight{
    padding:0 2px;
}