<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <nlog throwExceptions="true">
      <extensions>
        <add assembly="NLog.Targets.WebSocketServer"/>
      </extensions>
      <targets>
        <target type="Console" 
                layout="${longdate}|${level:uppercase=true}|${logger}|${message}" 
                name="consolelog"
                />
        <target name="logfile" type="File" fileName="file.txt" />
        <target name="websocket" type="NLog.Targets.WebSocketServer" port="9001" IPAddressStartsWith="192.168"/>
      </targets>
      <rules>
        <logger name="*" minlevel="Trace" writeTo="logfile, websocket, consolelog" />
      </rules>
    </nlog>
</configuration>