.log-viewer{
    font-family:consolas;
    font-size:.9em;
    padding-bottom:20px;
}

.log-viewer-logentry{
    white-space:nowrap;
    height:15px;
    vertical-align:bottom;
}

.log-viewer-server-color{
    width:5px;
    height:15px;
    display:inline-block;
    margin-right:10px;
    border:1px solid black;
    vertical-align:bottom;
}

.highlight{
    padding:0 2px;
}